/* old style - formManager */
.dank-slider-right {
    background-color: #efefef;
}

.dank-temp-a12 {
    border-radius: 0.584rem;
} 

.event {
    background-color: #FFFFFF;
    height: 64.021rem;
    margin: 3.65rem auto; 
    padding: 0;
    border-radius: 0.584rem;
    overflow: auto;
}

.dank-d4 {
    font-size: 1.168rem;
    background-color: #345062;
}

.panel-title {
    color: #f57a6c;
    font-size: 2.044rem;
    font-weight: bold;
    padding-top: 1.46rem;
    line-height: 4.38rem;
}

.panel-btn {
    margin: 0.73rem 0;
    font-size: 1.46rem;
    font-weight: bold;
    color: #fff;
    background-color: #f57a6c;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

#form-manage-option .dropdown{
    width: 18.25rem;
    display: inline-table;
    margin: 0.73rem;

}

#form-manage-option .dp-title{
    padding: 0.73rem 1.095rem;
    height: 2.92rem;
    font-size: 1.168rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}