/* old style - formManager */
.dank-slider-right {
    background-color: #efefef;
}

.dank-temp-a12 {
    border-radius: 8px;
} 

.event {
    background-color: #FFFFFF;
    height: 818px;
    margin: 50px auto; 
    padding: 0;
    border-radius: 8px;   
}

.dank-d4 {
    font-size: 16px;
    background-color: #345062;
}

.panel-title {
    color: #f57a6c;
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px;
    line-height: 60px;
}

.panel-btn {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #f57a6c;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}