.m-form {
    input[type=radio], input[type=checkbox] {
        -webkit-appearance: none;
        height: 26px;
        width: 26px;
        margin-right: 20px;
        color: #666;
        border: 3px solid;
        background-color: #fff;
        vertical-align: bottom;
    }

    input[type=radio] {
        border-radius: 50%;
    }

    input[type=radio]:checked:after {
        border-radius: 50%;
    }
    input[type=radio]:checked:after, input[type=checkbox]:checked:after {
        content: '';
        display: block;
        position: relative;
        top: 4px;
        left: 4px;
        height: 12px;
        width: 12px;
        background-color: $main-theme-dark;
    }

    input[type=checkbox]:disabled {
        color: rgba(0, 0, 0, 0.3);
    }

    .dank-checkbox-inOneLine{
        width: 50%;
        margin-right: 0!important;
    }
    .dank-checkbox-inline {
        width: 100%;
        label {
            width: 50%;
            margin-bottom: 0; 
        }
    }
}

@media screen and (max-width: 800px) {
    .d8{
        width: 100%!important;
    }
    .dank-form-input{
        width: 100%;
    }
    .dank-form-table>tbody>tr>td:nth-child(1){
        width: 20%;
    }
    .dank-form-table>tbody>tr>td:nth-child(2){
        width: 80%;
    }
    .dank-select-input{
        width: 130px;
    }
    .dank-form-group-inline.disable * {
        color: rgba(0, 0, 0, 0.3);
    }
}
