.dank-t1>tbody>tr {
    display: inline-block;
    width: 50%;
}

@media screen and (max-width: 800px) {
    .dank-slider {
        display: none;
    }
    .dank-slider-right {
        left: 0;
    }
    .dank-d2 {
        margin: 70px 0;
    }
    .dank-t1>tbody>tr {
        width: 100%;
    }
}