#news {
    @media screen and (max-width: 900px) {
        display: none;
    }
}

#signin {
    @media screen and (max-width: 900px) {
        width: 100%;
    }
}

#orgs-msg {
    position: absolute;
    width: 100%;
    color: $main-theme-dark;
    text-align: center;
}