.btn {
    border: 0.146rem solid #345062;
    border-radius: 0.584rem;
    background-color: #fff;
    color: #345062;
    font-size: 1.168rem;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;

    &:hover, &.active {
        background-color: #345062;
        color: #fff;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }
}