.search-bar { 
    input {
        height: 2.92rem;
        border: 0.073rem solid #345062;
        outline: none;
    }

    button {
        height: 2.92rem;
        color: #fff;
        background-color: #345062!important;
    }
}