.search-bar { 
    input {
        height: 40px;
        border: 1px solid #345062;
        outline: none;
    }

    button {
        height: 40px;
        color: #fff;
        background-color: #345062!important;
    }
}