/* old style */
.dank-header {
    box-shadow: 0 3px 10px #222;
    z-index: 101;
}

.dank-header > div:first-child {
    @media screen and (max-width: 800px) {
        display: inline-block;
    }
    big {
        @media screen and (max-width: 800px) {
            background-color: $main-theme-dark!important;
            min-width: 160px!important;
        }
    }
}