html {
  height: 100%;
}

body {
  zoom:0.73;
  height: 100%;
  padding:0px;
  font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
  font-size:20px;

}

#content {
  height: 100%;
}

.dank-header{
  background:#345062;
  box-shadow:0px 2px 4px 0px rgba(29,29,29,0.50);
  height:60px;
  position: fixed;
  top:0px;
  left:0px;
  right: 0px;
  z-index:100;
}

.vertical-middle-parent {
  width: 100%;
  height: 100%;
  display: inline-table;
}

.vertical-middle-child {
  vertical-align: middle;
}

.dank-h1{
  font-family: "BenderSolid";
  font-size:48px;
  color:#ffffff;
  text-align: center;
}

.dank-box-1{
  background:#ffffff;
  border-radius:8px;
}

.dank-box-2{
  background:#345062;
  border-radius:8px;
}

.log{
  background:#ffffff;
  width:120px;
  height:54px;
}

.dank-button-header{
  text-align: center;
  display: inline-block;
  border:1px solid #ffffff;
  border-radius:5px;
  width:134px;
  font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
  font-size:24px;
  color:#ffffff;
}

.dank-button-header:focus{
  color: #ffffff ;
  text-decoration: none;
}

.dank-button-header:hover{
  background: #ffffff;
  color: #203140;
  border: #203140;
  text-decoration: none;
}

.dank-tag-chosen{
  display: inline-block;
  background: #345062;
  color: #ffffff;
}
.dank-tag-chosen:hover{
  background: #7396ae;
  color: #ffffff;
  text-decoration: none;
}
.dank-tag-chosen:active{
  background: #203140;
  color: #ffffff;
  text-decoration: none;
}

.dank-tag-free{
  display: inline-block;
  background: #ffffff;
  color: #555a63;
}
.dank-tag-free:hover{
  background: #7396ae;
  color: #ffffff;
  text-decoration: none;
}
.dank-tag-free:active{
  background: #203140;
  color: #ffffff;
  text-decoration: none;
}

.dank-a {
  font-family:SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
  font-size:20px;
  color:#ffffff;
}
.dank-a:focus {
  text-decoration: none;
  color:#ffffff;
}

.dank-a:hover {
  text-decoration: underline;
  color:#ffffff;
}

a {
  font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
}

.dank-form-group{
  margin:15px 10px;
}

.dank-form-group>label {
    font-size:20px;
    color:#ffffff;
    font-weight:normal;
    font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
}

.dank-form-group>input {
  background:#ffffff;
  border:1px solid #979797;
  box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  border-radius:3px;
  margin-top:5px;
  margin-bottom:5px;
  width:100%;
  height:44px;
  padding:5px;
}

.dank-form-group-err{
  margin:15px 10px;
}

.dank-form-group-err>label {
  font-size:20px;
  color:#ffffff;
  font-weight:normal;
  font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
}

.dank-form-group-err>input {
  background:#ffffff;
  border:3px solid #f57b6d;
  box-shadow:inset 0px 3px 6px 0px rgba(245, 126, 126, 0.47);
  border-radius:3px;
  margin-top:5px;
  margin-bottom:5px;
  width:100%;
  height:44px;
  padding:5px;
}

.dank-input{
  background:#ffffff;
  border:3px solid #355163;
  box-shadow:inset 0px 3px 6px 0px rgba(53, 81, 99, 0.47);
  border-radius:3px;
  margin-top:5px;
  margin-bottom:5px;
  width:100%;
  height:44px;
  padding:5px;
}

.err-hidden {
  display: none;
}

.err-display {
  display: inline;
  float: right;
  margin-top: 6px;
  font-size:15px;
  color:#f57a6c;
  font-weight:normal;
  font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
}

::-webkit-input-placeholder { /* WebKit browsers */
  font-size:16px;
  color: #b1b1b1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size:16px;
  color: #b1b1b1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size:16px;
  color: #b1b1b1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size:16px;
  color: #b1b1b1;
}

.remember-me{
  float: left;
}

.checkbox{
  background:#ffffff;
  border:1px solid #979797;
  box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  border-radius:2px;
  width:14px;
  height:14px;
  display: inline;
}

.forget-password{
  float: right;
  color: #ffffff;
}

.dank-button {
  background: #f57b6d;
  border:1px solid #979797;
  border-radius:8px;
  width:154px;
  height:53px;
  font-size:30px;
  color:#555a63;
  margin:40px auto;
}

.dank-slider{
  float: left;
  background:#345062;
  width:215px;
  height: 100%;
  padding-top: 55px;
  position: fixed;
  top: 60px;
  bottom: 0px;
  z-index:100;
}

.dank-slider>div{
  background-color: #355163;
  text-align: center;
  padding: 0;
}

.dank-slider>div>a{
  color: #FFFFFF;
  font-size: 24px;
  text-decoration:none;
  display: block;
  height: 80px;
  line-height: 80px;
}

.dank-slider>div>big{
  background-color: #F36256;
  -webkit-box-shadow:0 0 10px #93949B;
  -moz-box-shadow:0 0 10px #93949B;
  box-shadow:0 0 10px #93949B;
  color: #434751;
  font-size: 24px;
  text-decoration:none;
  display: block;
  height: 80px;
  line-height: 80px;
}

.dank-slider>div>a:hover{
  background-color: #F36256;
  -webkit-box-shadow:0 0 10px #93949B;
  -moz-box-shadow:0 0 10px #93949B;
  box-shadow:0 0 10px #93949B;
  color: #434751;
  font-size: 24px;
  text-decoration:none;
  display: block;
  height: 80px;
  line-height: 80px;
}

.dank-slider-right{
  position: absolute;
  top: 60px;
  left: 215px;
  right: 0;
  bottom: 0;
}

.dank-slider-org{
  float: left;
  background:#345062;
  width:215px;
  height: 100%;
  padding-top: 55px;
  position: fixed;
  top: 60px;
  bottom: 0;
  z-index:100;
}

.dank-slider-org>div{
  background-color: #355163;
  text-align: left;
  padding: 0;
}

.dank-slider-org>div>a{
  color: #FFFFFF;
  font-size: 24px;
  text-decoration:none;
  display: block;
  height: 80px;
  line-height: 80px;
  padding-left: 24px;
}

.dank-slider-org>div>big{
  background-color: #F36256;
  -webkit-box-shadow:0 0 10px #93949B;
  -moz-box-shadow:0 0 10px #93949B;
  box-shadow:0 0 10px #93949B;
  color: #434751;
  font-size: 24px;
  text-decoration:none;
  display: block;
  height: 80px;
  line-height: 80px;
  padding-left: 24px;
}

.dank-slider-org>div>a:hover{
  background-color: #F36256;
  -webkit-box-shadow:0 0 10px #93949B;
  -moz-box-shadow:0 0 10px #93949B;
  box-shadow:0 0 10px #93949B;
  color: #434751;
  font-size: 24px;
  text-decoration:none;
  display: block;
  height: 80px;
  line-height: 80px;
  padding-left: 24px;
}






















