html {
  height: 100%;
}

body {
  zoom:0.73;
  height: 100%;
  padding:0;
  font-size:20px;
}

#content {
  height: 100%;
}

.dank-header{
  background:#345062;
  box-shadow:0 2px 4px 0 rgba(29,29,29,0.50);
  height:60px;
  position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index:100;
}

.vertical-middle-parent {
  width: 100%;
  height: 100%;
  display: inline-table;
}

.vertical-middle-child {
  vertical-align: middle;
}

.dank-h1{
  font-family: "BenderSolid";
  font-size:48px;
  color:#ffffff;
  text-align: center;
}

.dank-box-1{
  background:#ffffff;
  border-radius:8px;
}

.dank-box-2{
  background:#345062;
  border-radius:8px;
}

.log{
  background:#ffffff;
  width:120px;
  height:54px;
}

.dank-button-header{
  text-align: center;
  display: inline-block;
  border:1px solid #ffffff;
  border-radius:5px;
  width:134px;
  font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
  font-size:24px;
  color:#ffffff;
}

.dank-button-header:focus{
  color: #ffffff ;
  text-decoration: none;
}

.dank-button-header:hover{
  background: #ffffff;
  color: #203140;
  border: #203140;
  text-decoration: none;
}

.dank-tag-chosen{
  display: inline-block;
  background: #345062;
  color: #ffffff;
}
.dank-tag-chosen:hover{
  background: #7396ae;
  color: #ffffff;
  text-decoration: none;
}
.dank-tag-chosen:active{
  background: #203140;
  color: #ffffff;
  text-decoration: none;
}

.dank-tag-free{
  display: inline-block;
  background: #ffffff;
  color: #555a63;
}
.dank-tag-free:hover{
  background: #7396ae;
  color: #ffffff;
  text-decoration: none;
}
.dank-tag-free:active{
  background: #203140;
  color: #ffffff;
  text-decoration: none;
}

.dank-a {
  font-size:20px;
  color:#ffffff;
}
.dank-a:focus {
  text-decoration: none;
  color:#ffffff;
}

.dank-a:hover {
  text-decoration: underline;
  color:#ffffff;
  cursor: pointer;
}

.dank-small {
  font-size:20px;
  color:#ffffff;
}

.dank-small:hover {
  font-size:20px;
  color:#ffffff;
  text-decoration: none;
}

.dank-form-group{
  margin:15px 10px;
}

.dank-form-group>label {
    font-size:20px;
    color:#ffffff;
    font-weight:normal;
    font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
}

.dank-form-group>input {
  background:#ffffff;
  border:1px solid #979797;
  box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  border-radius:3px;
  margin-top:5px;
  margin-bottom:5px;
  width:100%;
  height:44px;
  padding:5px;
}

.dank-form-group-err{
  margin:15px 10px;
}

.dank-form-group-err>label {
  font-size:20px;
  color:#ffffff;
  font-weight:normal;
  font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
}

.dank-form-group-err>input {
  background:#ffffff;
  border:3px solid #f57b6d;
  box-shadow:inset 0px 3px 6px 0px rgba(245, 126, 126, 0.47);
  border-radius:3px;
  margin-top:5px;
  margin-bottom:5px;
  width:100%;
  height:44px;
  padding:5px;
}

.dank-input{
  background:#ffffff;
  border:3px solid #355163;
  box-shadow:inset 0px 3px 6px 0px rgba(53, 81, 99, 0.47);
  border-radius:3px;
  margin-top:5px;
  margin-bottom:5px;
  width:100%;
  height:44px;
  padding:5px;
}

.err-hidden {
  display: none;
}

.err-display {
  display: inline;
  float: right;
  margin-top: 6px;
  font-size:15px;
  color:#f57a6c;
  font-weight:normal;
  font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
}

::-webkit-input-placeholder { /* WebKit browsers */
  font-size:16px;
  color: #b1b1b1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size:16px;
  color: #b1b1b1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size:16px;
  color: #b1b1b1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size:16px;
  color: #b1b1b1;
}

.remember-me{
  float: left;
}

.checkbox{
  background:#ffffff;
  border:1px solid #979797;
  box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  border-radius:2px;
  width:14px;
  height:14px;
  display: inline;
}

.forget-password{
  float: right;
  color: #ffffff;
}

.dank-button {
  background: #f57b6d;
  border:1px solid #979797;
  border-radius:8px;
  width:154px;
  height:53px;
  font-size:30px;
  color:#555a63;
  margin:40px auto;
}

.dank-slider{
  float: left;
  background:#345062;
  width:215px;
  height: 100%;
  padding-top: 55px;
  position: fixed;
  top: 60px;
  bottom: 0px;
  z-index:100;
}

.dank-slider>div{
  background-color: #355163;
  text-align: center;
  padding: 0;
}

.dank-slider>div>a{
  color: #FFFFFF;
  font-size: 24px;
  text-decoration:none;
  display: block;
  height: 80px;
  line-height: 80px;
}

.dank-slider>div>big{
  background-color: #F36256;
  -webkit-box-shadow:0 0 10px #93949B;
  -moz-box-shadow:0 0 10px #93949B;
  box-shadow:0 0 10px #93949B;
  color: #434751;
  font-size: 24px;
  text-decoration:none;
  display: block;
  height: 80px;
  line-height: 80px;
}

.dank-slider>div>a:hover{
  background-color: #F36256;
  -webkit-box-shadow:0 0 10px #93949B;
  -moz-box-shadow:0 0 10px #93949B;
  box-shadow:0 0 10px #93949B;
  color: #434751;
  font-size: 24px;
  text-decoration:none;
  display: block;
  height: 80px;
  line-height: 80px;
}

.dank-slider-right{
  position: fixed;
  overflow: auto;
  top: 60px;
  left: 215px;
  right: 0;
  bottom: 0;
}

.dank-slider-org{
  float: left;
  background:#345062;
  width:215px;
  height: 100%;
  padding-top: 55px;
  position: fixed;
  top: 60px;
  bottom: 0;
  z-index:100;
}

.dank-slider-org>div{
  background-color: #355163;
  text-align: left;
  padding: 0;
}

.dank-slider-org>div>a{
  color: #FFFFFF;
  font-size: 24px;
  text-decoration:none;
  display: block;
  height: 80px;
  line-height: 80px;
  padding-left: 24px;
}

.dank-slider-org>div>big{
  background-color: #F36256;
  -webkit-box-shadow:0 0 10px #93949B;
  -moz-box-shadow:0 0 10px #93949B;
  box-shadow:0 0 10px #93949B;
  color: #434751;
  font-size: 24px;
  text-decoration:none;
  display: block;
  height: 80px;
  line-height: 80px;
  padding-left: 24px;
}

.dank-slider-org>div>a:hover{
  background-color: #F36256;
  -webkit-box-shadow:0 0 10px #93949B;
  -moz-box-shadow:0 0 10px #93949B;
  box-shadow:0 0 10px #93949B;
  color: #434751;
  font-size: 24px;
  text-decoration:none;
  display: block;
  height: 80px;
  line-height: 80px;
  padding-left: 24px;
}

.dank-time-line{
  display: inline-block;
  background-image: url("../img/line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 6px 100%;
  float: left;
  margin-left: 50px;
  margin-top: 60px;
}

.dank-time-node-active{
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 100%;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  background-color: #355163;
  color: #FFFFFF;
  font-size: 29px;

}

.dank-time-node{
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 100%;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  background-color: #FFFFFF;
  font-size: 29px;

}

.dank-time-node:hover{
  background-color: #355163;
  color: #FFFFFF;
  cursor: pointer;
}

.dank-button-2 {
  background:#345062;
  border:2px solid #345062;
  border-radius:8px;
  width:94px;
  height:40px;
  margin:28px 0;
  display: block;
  color: #FFFFFF;
  line-height: 40px;
  font-size:20px;
  font-weight: bold;
  text-align: center;
}

.dank-button-2:hover {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  background-color: #7396ae;
}

.dank-form-h2{
  margin-bottom: 20px;
}

.dank-form-table{
  font-size: 18px;
  color: #FFFFFF;
  display: inline-block;
  margin: auto;
}

.dank-form-table>tbody>tr{
  height:56px;
}



.dank-checkbox-inline{
  color: #FFFFFF;
  display: inline-block;
  margin-right: 20px;
  margin-left: 15px;
}

.dank-checkbox-inOneLine{
  color: #FFFFFF;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 20px;
}

.dank-radio-inOneLine{
  color: #FFFFFF;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 20px;
}

.dank-form-input{
  padding-left: 5px;
  padding-right: 5px;
  margin-left:10px;
  margin-right: 10px;
  background-color: transparent;
  border-color:#FFFFFF;
  border-style:solid;
  border-top-width:0px;
  border-right-width:0px;
  border-bottom-width:1px;
  border-left-width:0px;
  color:#FFFFFF;
  outline:medium;
  width: 150px;
}

.dank-label{
  font-size:20px;
  color:#ffffff;
  font-weight: normal;
}

.dank-select-label{
  font-size:16px;
  color:#ffffff;
  font-weight: normal;
}

.dank-form-group-inline{
  display: inline-block;
}

.dank-select-input{
  width: 130px;
}

.dank-form-single-text{
  padding-left: 5px;
  padding-right: 5px;
  margin-left:10px;
  margin-right: 10px;
  background-color: transparent;
  border-color:#FFFFFF;
  border-style:solid;
  border-top-width:0px;
  border-right-width:0px;
  border-bottom-width:1px;
  border-left-width:0px;
  color:#FFFFFF;
  outline:medium;
  width: 100%;
}

.dank-form-file-text{
  width: 80%;
  border: #FFFFFF solid 1px;
  border-radius: 5px 0 0 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left:10px;
  background-color: transparent;
  color:#FFFFFF;
  display: inline-block;
  height: 30px;
  float: left;
  line-height: 30px;
}
.dank-form-file-button{
  width: 15%;
  text-align: center;
  border: #FFFFFF solid 1px;
  border-radius: 0 5px 5px 0;
  margin-right:10px;
  background-color: #FFFFFF;
  color: #203140;
  display: inline-block;
  height: 30px;
  font-weight: bold;
}
.dank-form-file-button:hover{
  cursor: pointer;
  color: rgba(53, 81, 99, 0.82);
}

.dank-library-component{
  line-height: 50px;
  margin: 20px auto;
  border:1px solid #ffffff;
  width:244px;
  height:50px;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
}

.dank-library-component:hover{
  background-color: #6b8291;
  cursor: pointer;
}


.dank-library-component-forbidden{
  line-height: 50px;
  margin: 20px auto;
  border:1px solid #dadada;
  width:244px;
  height:50px;
  text-align: center;
  color: #dadada;
  font-size: 20px;
  background-color: #6b8291;
  cursor: not-allowed;
}

.dank-form-title-input{
  padding-left: 5px;
  padding-right: 5px;
  margin-left:10px;
  margin-right: 10px;
  background-color: transparent;
  border-color:#FFFFFF;
  border-style:solid;
  border-top-width:0px;
  border-right-width:0px;
  border-bottom-width:1px;
  border-left-width:0px;
  color:#FFFFFF;
  outline:medium;
  width: 758px;
  text-align: center;
}

.dank-schema-label{
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top:10px;
}

.dank-schema-option-group{
  text-align: right;
  margin: 10px auto;
}

.dank-schema-option{
  margin: auto 10px;
  color: #FFFFFF;
}

.dank-schema-option:hover{
  cursor: pointer;
}

.dank-schema-form-group-inline{
  margin-right: 40px;
}

.dank-schema-form-group-short{
  width:135px;
}

.dank-schema-input{
  background-color: inherit;
  margin-top:5px;
  margin-bottom:5px;
  width:100%;
  padding:5px;
  color: #FFFFFF;
  border:2px solid #e8e9ed;
  border-radius:6px;
  height:32px;
}

.dank-schema-component{
  border:2px solid #ffffff;
  border-radius: 5px;
}

.dank-schema-component-hover{
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid transparent;
}

.dank-schema-component-hover:hover{
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}


.dank-event-delete{
  font-size: 18px;
  float: right;
  color: #ffffff;
  margin: -10px 0 10px 0;
}

.dank-event-delete:hover{
  color: #203140;
  cursor: pointer;
}

.dank-event-share{
  font-size: 18px;
  float: right;
  color: #ffffff;
  margin: -10px 10px 10px 0;
}

.dank-event-share:hover{
  color: #203140;
  cursor: pointer;
}

.dank-event-form{
  font-size: 18px;
  float: right;
  color: #ffffff;
  margin: -10px 10px 10px 0;
}

.dank-event-form:hover{
  color: #203140;
  cursor: pointer;
}

@media screen{
  .dank-output-form{
    display: none;
  }
  body{
    background-color: rgba(218, 218, 218, 0.73);
  }
  .dank-output-print{
    width: 50%;
    height: 50%;
    padding: 30px;
    padding-top: 75px;
    top: 25%;
    left: 25%;
    background-color: #FFFFFF;
    border: solid 5px #355163;
    border-radius: 30px;
    box-shadow: 0 0 40px #333;
    position: fixed;
  }
  .dank-output-button{
    width: 290px;
    height: 63px;
    line-height: 63px;
    border-radius: 14px;
    box-shadow: 2px 2px 5px #93949b;
    background-color: #f57b6d;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    left: 50%;
    margin-left: -145px;
    font-size: 25px;
    position: absolute;
    bottom: 50px;
  }
  .dank-output-button:hover{
    cursor: pointer;
    background-color: rgba(242, 121, 110, 0.82);
  }
  .dank-output-button:active{
    box-shadow:inset 2px 2px 5px #93949b;
    background-color: rgba(242, 121, 110, 0.82);
  }
  .dank-output-text{
    margin-bottom: 20px;
    font-size: 24px;
    color: rgba(32, 49, 64, 0.82);
    line-height: 40px;
  }
}

@media print{
  .dank-output-print{
    display: none;
  }
  .dank-output-form{
    page-break-after: always;
    width: 100%;
    word-break: break-word;
  }
  .dank-output-caption{
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
  }
  .dank-output-title{
    margin-top: 10pt;
    font-weight: bold;
    font-size: 16pt;
    border-bottom: #000000 solid 0.5pt;
    page-break-after: avoid;
  }
  .dank-output-table{
    margin-top: 5pt;
    width: 100%;
  }
  .dank-output-table>tbody>tr{
    height: 12pt;
  }
  .dank-output-baseinfo-label{
    width: 10%;
    font-weight: bold;
    font-size: 12pt;
  }
  .dank-output-baseinfo-info{
    width: 25%;
    font-size: 10pt;
  }
  .dank-output-baseinfo-photo{
    width: 30%;
    text-align: center;
    vertical-align: middle;
  }
  .dank-output-label{
    margin-top: 8pt;
    font-weight: bold;
    font-size: 10pt;
    page-break-after: avoid;
  }
  .dank-output-content{
    font-size: 10pt;
  }
}

.qr-code-background{
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000000;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  opacity:0.5;
  position: fixed;
  top:0;
  left: 0;
}

.qr-code-div{
  display: none;
  padding: 30px;
  position: fixed;
  width: 630px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -315px;
  background-color: #FFFFFF;
  border: solid 5px #355163;
  border-radius: 30px;
  box-shadow: 0 0 40px #333;
}

.qr-code-text{
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

.qr-code{
  width: 255px;
  height: 255px;
  margin: 20px auto;
}

#loading{
  display: none;
  position: fixed;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.49);
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  border-radius: 10px;
  box-shadow: 0 0 20px;
}
.cssload-container{
  margin-top: 30px;
  margin-bottom: 20px;
}
.loading-text{
  text-align: center;
  color: #FFFFFF;
}
.loading-button{
  text-align: center;
  color: #000000;
  height: 30px;
  width: 100px;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin: 20px auto;
  transition:background-color 0.3s linear
}
.loading-button:hover{
  cursor: pointer;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px #ffffff;
}

/*补充temp.css的内容*/
.dank-library-file-input{
  width: 65px;
  height: 25px;
  background-color: #FFFFFF;
  border:none;
  border-radius: 10px;
  outline:medium;
  padding: 0;
  margin: auto -15px auto auto;
}

.dank-library-file-span{
  width: 65px;
  height: 25px;
  background-color: transparent;
  border-style:solid;
  border-color:#FFFFFF;
  border-width: 2px;
  border-radius: 10px;
  padding: 0;
  color: #FFFFFF;;
}

.dank-a14{
  margin: 10px;
  color: #FFFFFF;
  background-color: #F36256;
  font-size: 18px;
  display: inline-block;
  padding: 6px 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.dank-a14 :hover{
  color: #355163;
  transition: 0.2s ease-in-out;
}

.b1{
  font-size: 30px;
}

.dank-d2{
  margin: 70px 50px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
  -webkit-box-shadow:0 0 10px #434751;
  -moz-box-shadow:0 0 10px #434751;
  box-shadow:0 0 10px #434751;
  border-radius: 5px;
}

.dank-i1{
  margin: -57px auto auto 90px;
  height: 77px;
  width: 45px;
}

.dank-t1{
  font-size: 24px;
  color: #676c77;
  margin: 15px 40px;
  text-align: left;
  width: 100%;
}

.dank-t1>tbody>tr{
  height: 60px;
}

.td-title {
  font-weight: bold;
  width: 16%;
}

.td-content{
  width: 34%;
  padding-right:8%;
}

.dank-can2{
  width: 110px!important;
  height: 146px!important;
  zoom: 1.37;
  display: block;
  margin: 0 auto;
}

.dank-t3{
  margin: auto;
  width:100%;
}

.dank-c6{
  background-color: #FFFFFF;
  width: 90%;
  height: 278px;
  margin: 50px auto 20px auto;
  padding: 0;
  border-radius: 5px;
  padding-top: 50px;
}

.dank-c7{
  background-color: #FFFFFF;
  width: 95%;
  height: 570px;
  margin: 10px auto 50px auto;
  padding: 17px;
  border-radius: 5px;
}

.dank-d4{
  color: #FFFFFF;
  background-color: #434751;
  font-size: 16px;
  margin: 15px auto;
  width: 107px;
  height: 43px;
  line-height: 43px;
  margin-right: 20px;
}

.dank-temp-table:hover{
  background-color: #f57b6d;
  cursor:pointer;
}

.dank-temp-table-active{
  background-color: #f57b6d;
}

.dank-temp-h1{
  font-size: 16px;
}

.dank-temp-a12{
  color: #FFFFFF;
  background-color: #F36256;
  font-size: 16px;
  margin: auto;
  width: 107px;
  line-height: 34px;
  margin-bottom: 17px;
}

.big11{
  color: #F36256;
  font-size: 28px;
  text-decoration:none;
  display: block;
  margin: auto;
  height: 60px;
  line-height: 60px;
}

.dank-t5{
  font-size: 14px;
  width: 95%;
  margin: 10px 20px;
  text-align: left;
}









