html {
  height: 100%;
}

body {
  /*zoom:0.73;*/
  height: 100%;
  padding:0;
  font-size:1.46rem;
}

#content {
  height: 100%;
}

.dank-header{
  background:#345062;
  box-shadow:0 0.146rem 0.292rem 0 rgba(29,29,29,0.50);
  min-height:4.38rem;
  position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index:100;
}

.dank-invite-login-frame{
  overflow: auto;
  display: none;
  position: fixed;
  width: 34.602rem;
  height: 21.9rem;
  margin-left: -16.936rem;
  margin-top: -10.950000rem;
  left: 50%;
  top: 50%;
  border-radius: 2.190000rem;
  background-color: rgba(0, 0, 0, 0.80);
  box-shadow: 0 0 0.73rem #000000;
  padding-top: 2.920000rem;
  padding-bottom: 0;

}
.dank-invite-login-text{
  color: #FFFFFF;
  line-height: 2.920000rem;
  padding-left: 2.920000rem;
  padding-right: 2.920000rem;
}
.dank-invite-login-button-group{
  text-align: center;
}
.dank-invite-login-button{
  display: inline-block;
  text-align: center;
  color: #000000;
  height: 2.190000rem;
  width: 7.300000rem;
  line-height: 2.190000rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.365000rem;
  margin: 0.730000rem 1.460000rem;
  transition:background-color 0.3s linear
}

.dank-invite-login-button:hover{
  cursor: pointer;
  background-color: #FFFFFF;
  box-shadow: 0 0 0.730000rem #ffffff;
}


.vertical-middle-parent {
  width: 100%;
  height: 100%;
  display: inline-table;
}

.vertical-middle-child {
  vertical-align: middle;
}

.dank-h1{
  font-family: "BenderSolid", SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
  font-size:3.504000rem;
  color:#ffffff;
  text-align: center;
}

.dank-box-1{
  background:#ffffff;
  border-radius:0.584000rem;
}

.dank-box-2{
  background:#345062;
  border-radius:0.584000rem;
}

.log{
  background:#ffffff;
  width:8.760000rem;
  height:3.942000rem;
}

.dank-button-header{
  text-align: center;
  display: inline-block;
  border:0.073000rem solid #ffffff;
  border-radius:0.365000rem;
  width:9.782000rem;
  font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
  font-size:1.752rem;
  color:#ffffff;
  transition: all 0.2s linear;
}

.dank-button-header:focus{
  color: #ffffff ;
  text-decoration: none;
}

.dank-button-header:hover{
  background: #ffffff;
  color: #203140;
  border: 0.073000rem solid #203140;
  text-decoration: none;
  cursor: pointer;
}

.dank-tag-chosen{
  display: inline-block;
  background: #345062;
  color: #ffffff;
  transition: all 0.2s linear;
}
.dank-tag-chosen:hover{
  background: #7396ae;
  color: #ffffff;
  text-decoration: none;
}
.dank-tag-chosen:active{
  background: #203140;
  color: #ffffff;
  text-decoration: none;
}

.dank-tag-free{
  display: inline-block;
  background: #ffffff;
  color: #555a63;
  transition: all 0.2s linear;
}
.dank-tag-free:hover{
  background: #7396ae;
  color: #ffffff;
  text-decoration: none;
}
.dank-tag-free:active{
  background: #203140;
  color: #ffffff;
  text-decoration: none;
}

.dank-a {
  font-size:14.6rem;
  color:#ffffff;
}
.dank-a:focus {
  text-decoration: none;
  color:#ffffff;
}

.dank-a:hover {
  text-decoration: underline;
  color:#ffffff;
  cursor: pointer;
}

.dank-small {
  font-size:1.460000rem;
  color:#ffffff;
}

.dank-small:hover {
  font-size:1.460000rem;
  color:#ffffff;
  text-decoration: none;
}

.dank-form-group{
  margin:1.095000rem 0,73rem;
}

.dank-form-group>label {
  font-size:1.460000rem;
  color:#ffffff;
  font-weight:normal;
  font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
}

.dank-form-group>input {
  background:#ffffff;
  border:0.1rem solid #979797;
  box-shadow:inset 0rem 0.1rem 0.219000rem 0rem rgba(0,0,0,0.50);
  border-radius:0.219000rem;
  margin-top:0.365000rem;
  margin-bottom:0.365000rem;
  width:100%;
  height:3.212000rem;
  padding:0.365000rem;
}

.dank-form-group-err{
  margin:1.095000rem 0.730000rem;
}

.dank-form-group-err>label {
  font-size:1.460000rem;
  color:#ffffff;
  font-weight:normal;
  font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
}

.dank-form-group-err>input {
  background:#ffffff;
  border:0.219000rem solid #f57b6d;
  box-shadow:inset 0rem 0.219000rem 0.438000rem 0rem rgba(245, 126, 126, 0.47);
  border-radius:0.219000rem;
  margin-top:0.365000rem;
  margin-bottom:0.365000rem;
  width:100%;
  height:3.212000rem;
  padding:0.365000rem;
}

.dank-input{
  background:#ffffff;
  border:0.219000rem solid #355163;
  box-shadow:inset 0rem 0.219000rem 0.438000rem 0rem rgba(53, 81, 99, 0.47);
  border-radius:0.219000rem;
  margin-top:0.365000rem;
  margin-bottom:0.365000rem;
  width:100%;
  height:3.212000rem;
  padding:0.365000rem;
}

.err-hidden {
  display: none;
}

.err-display {
  display: inline;
  float: right;
  margin-top: 0.438000rem;
  font-size:1.095000rem;
  color:#f57a6c;
  font-weight:normal;
  font-family: SimHei, STXihei, "Microsoft YaHei", "Hiragino Sans GB", "STHeiti Light";
}

::-webkit-input-placeholder { /* WebKit browsers */
  font-size:1.168000rem;
  color: #b1b1b1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size:1.168000rem;
  color: #b1b1b1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size:1.168000rem;
  color: #b1b1b1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size:1.168000rem;
  color: #b1b1b1;
}

.remember-me{
  float: left;
}

.checkbox{
  background:#ffffff;
  border:0.073000rem solid #979797;
  box-shadow:inset 0rem 0.1rem 0.219000rem 0rem rgba(0,0,0,0.50);
  border-radius:0.146000rem;
  width:1.022000rem;
  height:1.022000rem;
  display: inline;
}

.forget-password{
  float: right;
  color: #ffffff;
}

.dank-button {
  background: #f57b6d;
  border-radius:0.584000rem;
  width:11.242000rem;
  height:3.869000rem;
  line-height: 3.869000rem;
  font-size:2.190000rem;
  color:#555a63;
  margin:2.920000rem auto;
  text-align: center;
  transition:background-color 0.2s linear
}
.dank-button:hover{
  cursor: pointer;
  background: #ff978b;
}
.dank-button:active{
  background: #e65f50;
}

.dank-slider{
  float: left;
  background:#345062;
  width:15.695000rem;
  height: 100%;
  padding-top: 4.015000rem;
  position: fixed;
  top: 4.380000rem;
  bottom: 0rem;
  z-index:100;
}

.dank-slider>div{
  background-color: #355163;
  text-align: center;
  padding: 0;
}

.dank-slider>div>a{
  color: #FFFFFF;
  font-size: 1.752000rem;
  text-decoration:none;
  display: block;
  height: 5.840000rem;
  line-height: 5.840000rem;
}

.dank-slider>div>big{
  background-color: #F36256;
  -webkit-box-shadow:0 0 0.73rem #93949B;
  -moz-box-shadow:0 0 0.73rem #93949B;
  box-shadow:0 0 0.73rem #93949B;
  color: #434751;
  font-size: 1.752000rem;
  text-decoration:none;
  display: block;
  height: 5.840000rem;
  line-height: 5.840000rem;
}

.dank-slider>div>a:hover{
  background-color: #F36256;
  -webkit-box-shadow:0 0 0.73rem #93949B;
  -moz-box-shadow:0 0 0.73rem #93949B;
  box-shadow:0 0 0.73rem #93949B;
  color: #434751;
  font-size: 1.752000rem;
  text-decoration:none;
  display: block;
  height: 5.840000rem;
  line-height: 5.840000rem;
}

.dank-slider-right{
  position: fixed;
  overflow: auto;
  top: 4.380000rem;
  left: 15.695000rem;
  right: 0;
  bottom: 0;
}

.dank-slider-org{
  float: left;
  background:#345062;
  width:15.695000rem;
  height: 100%;
  padding-top: 4.015000rem;
  position: fixed;
  top: 4.380000rem;
  bottom: 0;
  z-index:100;
}

.dank-slider-org>div{
  background-color: #355163;
  text-align: left;
  padding: 0;
}

.dank-slider-org>div>a{
  color: #FFFFFF;
  font-size: 1.752000rem;
  text-decoration:none;
  display: block;
  height: 5.840000rem;
  line-height: 5.840000rem;
  padding-left: 1.752000rem;
}

.dank-slider-org>div>big{
  background-color: #F36256;
  -webkit-box-shadow:0 0 0.73rem #93949B;
  -moz-box-shadow:0 0 0.73rem #93949B;
  box-shadow:0 0 0.73rem #93949B;
  color: #434751;
  font-size: 1.752000rem;
  text-decoration:none;
  display: block;
  height: 5.840000rem;
  line-height: 5.840000rem;
  padding-left: 1.752000rem;
}

.dank-slider-org>div>a:hover{
  background-color: #F36256;
  -webkit-box-shadow:0 0 0.73rem #93949B;
  -moz-box-shadow:0 0 0.73rem #93949B;
  box-shadow:0 0 0.73rem #93949B;
  color: #434751;
  font-size: 1.752000rem;
  text-decoration:none;
  display: block;
  height: 5.840000rem;
  line-height: 5.840000rem;
  padding-left: 1.752000rem;
}

.dank-time-line{
  display: inline-block;
  background-image: url("../img/line.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.438000rem 100%;
  float: left;
  margin-left: 3.650000rem;
  margin-top: 4.380000rem;
}

.dank-time-node-active{
  width: 3.212000rem;
  height: 3.212000rem;
  display: block;
  border-radius: 100%;
  font-weight: bold;
  line-height: 3.212000rem;
  text-align: center;
  background-color: #355163;
  color: #FFFFFF;
  font-size: 2.117000rem;

}

.dank-time-node{
  width: 3.212000rem;
  height: 3.212000rem;
  display: block;
  border-radius: 100%;
  font-weight: bold;
  line-height: 3.212000rem;
  text-align: center;
  background-color: #FFFFFF;
  font-size: 2.117000rem;
  transition: all 0.2s linear;
}

.dank-time-node:hover{
  background-color: #355163;
  color: #FFFFFF;
  cursor: pointer;
}

.dank-button-2 {
  background:#345062;
  border-radius:0.584000rem;
  width:6.862000rem;
  height:2.920000rem;
  margin:2.044000rem 0;
  display: block;
  color: #FFFFFF;
  line-height: 2.920000rem;
  font-size:1.460000rem;
  font-weight: bold;
  text-align: center;
  transition: all 0.2s linear;
}

.dank-button-2:hover {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  background-color: #7396ae;
}

.dank-form-h2{
  margin-bottom: 1.460000rem;
}

.dank-form-table{
  font-size: 1.314000rem;
  color: #FFFFFF;
  display: inline-block;
  margin: auto;
}

.dank-form-table>tbody>tr{
  height:4.088000rem;
}



.dank-checkbox-inline{
  color: #FFFFFF;
  display: inline-block;
  margin-right: 1.460000rem;
  margin-left: 1.095000rem;
}

.dank-checkbox-inOneLine{
  color: #FFFFFF;
  margin-bottom: 1.460000rem;
  display: inline-block;
  margin-right: 1.460000rem;
}

.dank-radio-inOneLine{
  color: #FFFFFF;
  margin-bottom: 1.460000rem;
  display: inline-block;
  margin-right: 1.460000rem;
}

.dank-form-input{
  padding-left: 0.365000rem;
  padding-right: 0.365000rem;
  margin-left:0.73rem;
  margin-right: 0.73rem;
  background-color: transparent;
  border-color:#FFFFFF;
  border-style:solid;
  border-top-width:0rem;
  border-right-width:0rem;
  border-bottom-width:0.1rem;
  border-left-width:0rem;
  color:#FFFFFF;
  outline:medium;
  width: 10.950000rem;
}

.dank-label{
  font-size:1.460000rem;
  color:#ffffff;
  font-weight: normal;
}

.dank-select-label{
  font-size:1.168000rem;
  color:#ffffff;
  font-weight: normal;
}

.dank-form-group-inline{
  display: inline-block;
}

.dank-select-input{
  width: 9.490000rem
;
}

.dank-form-single-text{
  padding-left: 0.365000rem;
  padding-right: 0.365000rem;
  margin-left:0.73rem;
  margin-right: 0.73rem;
  background-color: transparent;
  border-color:#FFFFFF;
  border-style:solid;
  border-top-width:0rem;
  border-right-width:0rem;
  border-bottom-width:0.1rem;
  border-left-width:0rem;
  color:#FFFFFF;
  outline:medium;
  width: 100%;
}

.dank-form-file-text{
  width: 80%;
  border: #FFFFFF solid 0.1rem;
  border-radius: 0.365000rem 0 0 0.365000rem;
  padding-left: 0.365000rem;
  padding-right: 0.365000rem;
  margin-left:0.73rem;
  background-color: transparent;
  color:#FFFFFF;
  display: inline-block;
  height: 2.190000rem;
  float: left;
  line-height: 2.190000rem;
  overflow: hidden;
  word-break: break-all;
}
.dank-form-file-button{
  width: 15%;
  text-align: center;
  border: #FFFFFF solid 0.073000rem;
  border-radius: 0 0.365000rem 0.365000rem 0;
  background-color: #FFFFFF;
  color: #203140;
  display: inline-block;
  height: 2.190000rem;
  font-weight: bold;
}
.dank-form-file-button:hover{
  cursor: pointer;
  color: rgba(53, 81, 99, 0.82);
}

.dank-library-component{
  line-height: 3.650000rem;
  margin: 1.460000rem auto;
  border:0.1rem solid #ffffff;
  width:17.812000rem;
  height:3.650000rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.460000rem;
  transition: all 0.2s;
}

.dank-library-component:hover{
  background-color: #6b8291;
  cursor: pointer;
}


.dank-library-component-forbidden{
  line-height: 3.650000rem;
  margin: 1.460000rem auto;
  border:0.1rem solid #dadada;
  width:17.812000rem;
  height:3.650000rem;
  text-align: center;
  color: #dadada;
  font-size: 1.460000rem;
  background-color: #6b8291;
  cursor: not-allowed;
}

.dank-form-title-input{
  padding-left: 0.365000rem;
  padding-right: 0.365000rem;
  margin-left:0.73rem;
  margin-right: 0.73rem;
  background-color: transparent;
  border-color:#FFFFFF;
  border-style:solid;
  border-top-width:0rem;
  border-right-width:0rem;
  border-bottom-width:0.1rem;
  border-left-width:0rem;
  color:#FFFFFF;
  outline:medium;
  width: 55.334000rem;
  text-align: center;
}

.dank-schema-label{
  color: #ffffff;
  font-size: 1.460000rem;
  margin-bottom: 0.73rem;
  margin-top:0.73rem;
}

.dank-schema-option-group{
  text-align: right;
  margin: 0.73rem auto;
}

.dank-schema-option{
  margin: auto 0.73rem;
  color: #FFFFFF;
}

.dank-schema-option:hover{
  cursor: pointer;
}

.dank-schema-form-group-inline{
  margin-right: 3.650000rem;
}

.dank-schema-form-group-short{
  width:9.855000rem;
}

.dank-schema-input{
  background-color: inherit;
  margin-top:0.365000rem;
  margin-bottom:0.365000rem;
  width:100%;
  padding:0.365000rem;
  color: #FFFFFF;
  border: 0.146000rem solid #e8e9ed;
  border-radius:0.438000rem;
  height:2.336000rem;
}

.dank-schema-component{
  border:0.146000rem solid #ffffff;
  border-radius: 0.365000rem;
}

.dank-schema-component-hover{
  padding-top: 0.73rem;
  padding-bottom: 0.73rem;
  border: 0.146rem solid transparent;
  transition: all 0.3s;
}

.dank-schema-component-hover:hover{
  cursor: pointer;
  border: 0.146rem solid #FFFFFF;
  border-radius: 0.365000rem;
}


.dank-event-delete{
  font-size: 1.314000rem;
  float: right;
  color: #ffffff;
  margin: -0.73rem 0 0.73rem 0;
}

.dank-event-delete:hover{
  color: #203140;
  cursor: pointer;
}

.dank-event-share{
  font-size: 1.314000rem;
  float: right;
  color: #ffffff;
  margin: -0.73rem 0.73rem 0.73rem 0;
}

.dank-event-share:hover{
  color: #203140;
  cursor: pointer;
}

.dank-event-form{
  font-size: 1.314000rem;
  float: right;
  color: #ffffff;
  margin: -0.73rem 0.73rem 0.73rem 0;
}

.dank-event-form:hover{
  color: #203140;
  cursor: pointer;
}

@media screen{
  .dank-output-form{
    display: none;
  }
  body{
    background-color: rgba(218, 218, 218, 0.73);
  }
  .dank-output-print{
    width: 50%;
    height: 50%;
    padding: 2.190000rem;
    padding-top: 5.475000rem;
    top: 25%;
    left: 25%;
    background-color: #FFFFFF;
    border: solid 0.365000rem #355163;
    border-radius: 2.190000rem;
    box-shadow: 0 0 2.920000rem #333;
    position: fixed;
  }
  .dank-output-button{
    width: 21.170000rem;
    height: 4.599000rem;
    line-height: 4.599000rem;
    border-radius: 1.022000rem;
    box-shadow: 0.146000rem 0.146000rem 0.365000rem #93949b;
    background-color: #f57b6d;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    left: 50%;
    margin-left: -10.585000rem;
    font-size: 1.825000rem;
    position: absolute;
    bottom: 3.650000rem;
    transition: all 0.3s;
  }
  .dank-output-button:hover{
    cursor: pointer;
    background-color: rgba(242, 121, 110, 0.82);
  }
  .dank-output-button:active{
    box-shadow:inset 0.146000rem 0.146000rem 0.365000rem #93949b;
    background-color: rgba(242, 121, 110, 0.82);
  }
  .dank-output-text{
    margin-bottom: 1.460000rem;
    font-size: 1.752000rem;
    color: rgba(32, 49, 64, 0.82);
    line-height: 2.920000rem;
  }
}

@media print{
  .dank-output-print{
    display: none;
  }
  .dank-output-form{
    page-break-after: always;
    width: 100%;
    word-break: break-word;
  }
  .dank-output-caption{
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
  }
  .dank-output-title{
    margin-top: 10pt;
    font-weight: bold;
    font-size: 16pt;
    border-bottom: #000000 solid 0.5pt;
    page-break-after: avoid;
  }
  .dank-output-frame{
    width:100%;
  }
  .dank-output-table{
    width: 70%;
  }
  .dank-output-table{
    margin-top: 5pt;
    width: 100%;
  }
  .dank-output-table>tbody>tr{
    height: 12pt;
  }
  .dank-output-baseinfo-label{
    width: 15%;
    font-weight: bold;
    font-size: 12pt;
  }
  .dank-output-baseinfo-info{
    width: 35%;
    font-size: 10pt;
  }
  .dank-output-baseinfo-photo{
    width: 30%;
    height: 84pt;/*7 * 12pt*/
    text-align: center;
    vertical-align: middle;
  }
  .dank-output-baseinfo-photo>img{
    max-width: 100%;
    max-height: 100%;
  }
  .dank-output-label{
    margin-top: 8pt;
    font-weight: bold;
    font-size: 10pt;
    page-break-after: avoid;
  }
  .dank-output-content{
    font-size: 10pt;
  }
}

.qr-code-background{
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000000;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  opacity:0.5;
  position: fixed;
  top:0;
  left: 0;
}

.qr-code-div{
  display: none;
  padding: 2.190000rem;
  position: fixed;
  width: 45.990000rem;
  height: 32.850000rem;
  top: 50%;
  left: 50%;
  margin-top: -16.425000rem;
  margin-left: -22.995000rem;
  background-color: #FFFFFF;
  border: solid 0.365000rem #355163;
  border-radius: 2.190000rem;
  box-shadow: 0 0 2.920000rem #333;
}

.qr-code-text{
  text-align: center;
  font-size: 1.460000rem;
  line-height: 2.190000rem;
}

.qr-code{
  width: 18.615000rem;
  height: 18.615000rem;
  margin: 1.460000rem auto;
}

#loading{
  display: none;
  position: fixed;
  width: 14.600000rem;
  height: 14.600000rem;
  background-color: rgba(0, 0, 0, 0.49);
  top: 50%;
  left: 50%;
  margin-left: -7.300000rem;
  margin-top: -7.300000rem;
  border-radius: 0.73rem;
  box-shadow: 0 0 1.460000rem;
}
.cssload-container{
  margin-top: 2.190000rem;
  margin-bottom: 1.460000rem;
}
.loading-text{
  text-align: center;
  color: #FFFFFF;
}
.loading-button{
  text-align: center;
  color: #000000;
  height: 2.190000rem;
  width: 7.300000rem;
  line-height: 2.190000rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.365000rem;
  margin: 0.73rem auto;
  transition:background-color 0.3s linear
}
.loading-button:hover{
  cursor: pointer;
  background-color: #FFFFFF;
  box-shadow: 0 0 0.73rem #ffffff;
}

.crawler{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #ffffff;
  box-shadow: 0.073000rem 0.146000rem 0.365000rem 0rem rgba(0,0,0,0.50);
  border-radius: 0.584000rem;
  width: 29.200000rem;
  height: 19.710000rem;
  margin-left: -14.600000rem;
  margin-top: -9.855000rem;
  padding: 0.73rem 1.460000rem;
  z-index: 1;
}
.crawler-title{
  font-size: 1.752000rem;
  color: #345062;
  letter-spacing: 0.249660rem;
  text-align: left;
  float: left;
  display: inline-block;
  height: 2.482000rem;
  line-height: 2.482000rem;
}
.crawler-icon{
  display: inline-block;
  margin-left: 4.526000rem;
  margin-right: -1.460000rem;
  width: 2.482000rem;
  height: 2.482000rem;
  line-height: 2.482000rem;
  transition: all 0.2s linear;
  border-radius: 1.241000rem;
  color: #355163;
  text-align: center;
}
.crawler-icon:hover{
  color: #ffffff;
  background-color: #f77a69;
  cursor: pointer;
}
.crawler-error{
  display: none;
  float: right;
  margin-top: 1.460000rem;
  font-size: 0.876000rem;
  color: #f57a6c;
  letter-spacing: 0.124830rem;
  text-align: left;
}
.crawler-form{
  margin-top: 4.015000rem;
}
.crawler-form-group{
  margin-bottom: 1.460000rem;
}
.crawler-label{
  float: left;
  font-size: 1.460000rem;
  color: #345062;
  letter-spacing: 0.208050rem;
  text-align: left;
  width: 20%;
}
.crawler-input{
  border:0.073000rem solid #345062;
  border-radius:0.584000rem;
  width:80%;
  height:2.190000rem;
  font-size:1.460000rem;
  color:#345062;
  letter-spacing:0.208050rem;
  text-align:left;
  padding: 0.365000rem 0.73rem;
}
.crawler-button{
  background: #f57a6c;
  border-radius: 0.584000rem;
  width: 10.366000rem;
  height: 2.920000rem;
  font-size: 1.460000rem;
  color: #ffffff;
  letter-spacing: 0.208050rem;
  margin: 2.190000rem auto;
  text-align: center;
  line-height: 2.920000rem;
  transition: all 0.2s;
}
.crawler-button:hover{
  background-color: #ff978b;
  cursor: pointer;
}

.crawler-success{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #ffffff;
  box-shadow: 0.073000rem 0.146000rem 0.365000rem 0rem rgba(0,0,0,0.50);
  border-radius: 0.584000rem;
  width: 29.200000rem;
  height: 19.710000rem;
  margin-left: -14.600000rem;
  margin-top: -9.855000rem;
  padding: 0.73rem 1.460000rem;
  z-index: 1;
}

.crawler-success-icon{
  width:5.840000rem;
  height:5.840000rem;
  border-radius: 2.920000rem;
  border: #345062 solid 0.365000rem;
  margin: 2.920000rem auto 0.73rem auto;
  color: #345062;
  text-align: center;
  line-height: 5.840000rem;
}
.crawler-success-text{
  font-size:1.752000rem;
  color:#345062;
  letter-spacing:0.249660rem;
  text-align:center;
  margin-bottom: 1.460000rem;
  font-weight: bold;
}

/*补充temp.css的内容*/
.dank-library-file-input{
  width: 4.745000rem;
  height: 1.825000rem;
  background-color: #FFFFFF;
  border:none;
  border-radius: 0.73rem;
  outline:medium;
  padding: 0;
  margin: auto -1.095000rem auto auto;
}

.dank-library-file-span{
  width: 4.745000rem;
  height: 1.825000rem;
  background-color: transparent;
  border-style:solid;
  border-color:#FFFFFF;
  border-width: 0.146000rem;
  border-radius: 0.73rem;
  padding: 0;
  color: #FFFFFF;;
}

.dank-a14{
  margin: 0.73rem;
  color: #FFFFFF;
  background-color: #F36256;
  font-size: 1.314000rem;
  display: inline-block;
  padding: 0.438000rem 0.876000rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 0.1rem solid transparent;
  border-radius: 0.292000rem;
}

.dank-a14 :hover{
  color: #355163;
  transition: 0.2s ease-in-out;
}

.b1{
  font-size: 2.190000rem;
}

.dank-d2{
  margin:  5.110000rem 3.650000rem;
  padding-bottom: 2.920000rem;
  background-color: #FFFFFF;
  -webkit-box-shadow:0 0 0.73rem #434751;
  -moz-box-shadow:0 0 0.73rem #434751;
  box-shadow:0 0 0.73rem #434751;
  border-radius: 0.365000rem;
}

.dank-i1{
  margin: -4.161000rem auto auto 6.570000rem;
  height: 5.621000rem;
  width: 3.285000rem;
}

.dank-t1{
  font-size: 1.752000rem;
  color: #676c77;
  margin: 1.095000rem 2.920000rem;
  text-align: left;
  width: 100%;
}

.dank-t1>tbody>tr{
  height: 4.380000rem;
}

.td-title {
  font-weight: bold;
  width: 16%;
}

.td-content{
  width: 34%;
  padding-right:8%;
}

.dank-can2{
  width: 8.030000rem!important;
  height: 10.658000rem!important;
  zoom: 1.37;
  display: block;
  margin: 0 auto;
}

.dank-t3{
  margin: auto;
  width:100%;
}

.dank-c6{
  background-color: #FFFFFF;
  width: 90%;
  height: 20.294000rem;
  margin: 3.650000rem auto 1.460000rem auto;
  padding: 0;
  border-radius: 0.365000rem;
  padding-top: 3.650000rem;
}

.dank-c7{
  background-color: #FFFFFF;
  width: 95%;
  height: 41.610000rem;
  margin: 0.73rem auto 3.650000rem auto;
  padding: 1.241000rem;
  border-radius: 0.365000rem;
}

.dank-d4{
  color: #FFFFFF;
  background-color: #434751;
  font-size: 1.168000rem;
  margin: 1.095000rem auto;
  width: 7.811000rem;
  height: 3.139000rem;
  line-height: 3.139000rem;
  margin-right: 1.460000rem;
}

.dank-temp-table{
  transition: all 0.2s linear;
}

.dank-temp-table:hover{
  background-color: #f57b6d;
  cursor:pointer;
}

.dank-temp-table-active{
  background-color: #f57b6d;
}

.dank-temp-h1{
  font-size: 1.168000rem;
}

.dank-temp-a12{
  color: #FFFFFF;
  background-color: #F36256;
  font-size: 1.168000rem;
  margin: auto;
  width: 7.884000rem;
  line-height: 2.482000rem;
  margin-bottom: 1.314000rem;
}

.big11{
  color: #F36256;
  font-size: 2.044000rem;
  text-decoration:none;
  display: block;
  margin: auto;
  height: 4.380000rem;
  line-height: 4.380000rem;
}

.dank-t5{
  font-size: 1.022000rem;
  width: 95%;
  margin: 0.73rem 1.460000rem;
  text-align: left;
}









