@font-face {
    font-family: 'BenderSolid';
    src: url('../font/bender-solid-webfont.eot');
    src: url('../font/bender-solid-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/bender-solid-webfont.svg#bendersolid') format('svg'),
    url('../font/Bender-Solid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
